# Auto detect text files and perform LF normalization
* text=auto
Sonic_Trade_Levels.mqh
Sonic_R_System.mqh
Sonic_PVA_Volumes.mqh
Sonic_PVA_Candles.mqh
Sonic R Professional.mq5
PVSRA_Analysis.mqh
Sonic_Dragon.mqh
Sonic_Trade_Levels.mqh
